/** *** Layouts *** **/

header {
    display: grid;
    border-bottom: 1px solid #cdcdcd;
}

header h1 {
    margin: 0.3em 0.3em 0 0.3em;
}

header h1+h1 {
    display: none;  /* disable link and time on very small devices, will be enabled on bigger screens */
}

#impressions {
    display: none;
}

main {
    display: grid;
    margin: 0.3em;
    grid-gap: 1em;
}

img {  /* Never stretch the layout because of the impression image. */
    max-width: 100%;
    border-radius: 0.5em;
}

#schedule {
    display: grid;
    grid-row-gap: 0.75em;
    background-color: #E2E8F0;
    padding-bottom: 0.3em;
    margin-right: 0.3em;
    border-radius: 0.3em;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #E2E8F0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

#tools {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#daytoggle {
    display: flex;
    justify-content: center;
}

#daytoggle a, #tools button {
    display: block;
    color: black;
    text-decoration: none;
    margin: 0 0 5px 0;
    padding: 0.2em 1.2em;
    font-size: 9pt;
    border: 1px outset #e0f2f7;
    background-color: #e0f2f7;
    float: left;
    max-height: 1.8em;
    cursor: pointer;
}

#daytoggle a:first-child, #favport button:first-child {
    border-radius: 0.5em 0 0 0.5em;
}

#daytoggle a:last-child, #favport button:last-child {
    border-radius: 0 0.5em 0.5em 0;
}

#favtoggle button {
    border-radius: 0.5em;
}

#tools .disabled {
    border: 1px inset #e0f2f7;
    color: gray;
}

#daytoggle a.active {
    color: rgb(51, 122, 183);
    font-weight: bold;
}


/* Bigger small screens have a 2-column schedule */
@media (min-width:600px) {
    header { /* reset width for h1 s in header */
        grid-template-columns: 1fr auto;
    }

    #schedule { /* 2-column schedule */
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0.3em;
    }

    #tools {
        grid-column-start: 1;
        grid-column-end: 2;
        justify-content: space-between;
    }
}

/* Medium screens have a 3-column schedule */
@media (min-width:801px) {
    main { /* show announcements and information side-by-side, impressions and shoutbox as well */
        grid-template-columns: repeat(2, 1fr);
    }

    aside {
        grid-column: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    header h1+h1 { /* enable link and time */
        display: block;
    }

    #schedule {  /* 3-column schedule */
        grid-column-start: 1;
        grid-column-end: 3;
        grid-template-columns: repeat(3, 1fr);
    }

    #tools {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #daytoggle a:before {
        content: "Day ";
    }
}

/* Big screens have a 3-column schedule, the shoutbox on the right */
@media (min-width:1024px) {
    main {  /* Place impressions next to announcements and information */
        grid-template-columns: repeat(3, 1fr);
    }

    #tools {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    aside {  /* place shoutbox to the right */
        grid-column: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #impressions {
        display: block;
    }
}

/* Big screens have a 5-column schedule, the shoutbox on the right */
@media (min-width:1280px) {
    main {  /* Place impressions next to announcements and information */
        grid-template-columns: repeat(4, 1fr);
    }

    #schedule {  /* 5-column schedule */
        grid-column-start: 1;
        grid-column-end: 4;

        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto 1fr;
    }

    .timeslot {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .timeslot:last-child, .timeslot:nth-last-child(2) {
        grid-row-start: auto;
        grid-row-end: auto;
    }

    aside {  /* place shoutbox to the right */
        grid-column: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}


/** *** Styles *** **/

html {
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 4em;
    min-height: 100%;
}

header h1+h1 {
    text-align: right;
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

h3 {
    margin: 0;
    padding: 1em;
    background-color: #337AB7;
    color: #fff;
    border-radius: 0.25em;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #17a;
}

a:hover {
    text-decoration: underline;
}


/* Schedule children */
.timeslot_active > h3 {
    background-color: #48BB78;
}

.event {
    background-color: #fff;
    border-radius: 0.25em;
    margin-top: 0.2em;
}

.event a {  /* Make events a grid. */
    display: grid;
    grid-template-columns: 6em auto 20px;
}

.active a {
    background-color: #F0FFF4;
}

.event input {
    justify-self: end;
    width: 20px;
    height: 20px;
}

.event:hover {
    background: #cfcfcf;
}

.lecture_url:hover {
    text-decoration: none;
}

.event a span {
    padding: 0.3em;
}

.lecture_id {
    border-radius: 0.25em 0 0 0;
    color: #fff;
}

.location {
    border-radius: 0 0 0 0.25em;
    color: #fff;
    grid-row: 2;
}

.lecturer {
    font-weight: bold;
    padding: 0.6em 0.3em 0.3em 0.3em;
}

.title {
    padding: 0 0.3em 0.6em 0.3em;
    grid-column-start: 2;
    grid-column-end: 4;
}

.announcements p {
    padding: 0 0.3em;
}

/* Shoutbox */

#shoutboxform input {
    width: 100%;
}

#shoutboxmessage {
    caret-color: transparent;
}

#shoutbox {
    background-color: #E2E8F0;
    border-radius: 0.5em;
}

#shoutbox_container {
    padding: 0.5em;
    min-height: 5em;
    max-height: 45em;
    overflow-y: auto;
    overflow-x: hidden;
}

#shoutbox_container p {
    margin: 0.5em 0;
}

#shoutbox_container p a {
    word-break: break-all;
    word-wrap: anywhere;
}

.message_box {
    width: 1em;
    height: 1em;
    float: left;
    margin-right: 0.4em;
}

#impressions {
    text-align: center;
}

/* taken from https://stackoverflow.com/a/12224359 */
#lecture_id_0 { background-color: #000000; }
#lecture_id_1 { background-color: #00FF00; color: black; }
#lecture_id_2 { background-color: #0000FF; }
#lecture_id_3 { background-color: #FF0000; }
#lecture_id_4 { background-color: #01FFFE; color: black; }
#lecture_id_5 { background-color: #FFA6FE; color: black; }
#lecture_id_6 { background-color: #FFDB66; color: black; }
#lecture_id_7 { background-color: #006401; }
#lecture_id_8 { background-color: #010067; }
#lecture_id_9 { background-color: #95003A; }
#lecture_id_10 { background-color: #007DB5; }
#lecture_id_11 { background-color: #FF00F6; }
#lecture_id_12 { background-color: #FFEEE8; color: black; }
#lecture_id_13 { background-color: #774D00; }
#lecture_id_14 { background-color: #90FB92; color: black; }
#lecture_id_15 { background-color: #0076FF; }
#lecture_id_16 { background-color: #D5FF00; color: black; }
#lecture_id_17 { background-color: #FF937E; color: black; }
#lecture_id_18 { background-color: #6A826C; }
#lecture_id_19 { background-color: #FF029D; }
#lecture_id_20 { background-color: #FE8900; color: black; }
#lecture_id_21 { background-color: #7A4782; }
#lecture_id_22 { background-color: #7E2DD2; }
#lecture_id_23 { background-color: #85A900; color: black; }
#lecture_id_24 { background-color: #FF0056; }
#lecture_id_25 { background-color: #A42400; }
#lecture_id_26 { background-color: #00AE7E; }
#lecture_id_27 { background-color: #683D3B; }
#lecture_id_28 { background-color: #BDC6FF; color: black; }
#lecture_id_29 { background-color: #263400; }
#lecture_id_30 { background-color: #BDD393; color: black; }
#lecture_id_31 { background-color: #00B917; }
#lecture_id_32 { background-color: #9E008E; }
#lecture_id_33 { background-color: #001544; }
#lecture_id_34 { background-color: #C28C9F; color: black; }
#lecture_id_35 { background-color: #FF74A3; color: black; }
#lecture_id_36 { background-color: #01D0FF; color: black; }
#lecture_id_37 { background-color: #004754; }
#lecture_id_38 { background-color: #E56FFE; color: black; }
#lecture_id_39 { background-color: #788231; }
#lecture_id_40 { background-color: #0E4CA1; }
#lecture_id_41 { background-color: #91D0CB; color: black; }
#lecture_id_42 { background-color: #BE9970; color: black; }
#lecture_id_43 { background-color: #968AE8; color: black; }
#lecture_id_44 { background-color: #BB8800; color: black; }
#lecture_id_45 { background-color: #43002C; }
#lecture_id_46 { background-color: #DEFF74; color: black; }
#lecture_id_47 { background-color: #00FFC6; color: black; }
#lecture_id_48 { background-color: #FFE502; color: black; }
#lecture_id_49 { background-color: #620E00; }
#lecture_id_50 { background-color: #008F9C; }
#lecture_id_51 { background-color: #98FF52; color: black; }
#lecture_id_52 { background-color: #7544B1; }
#lecture_id_53 { background-color: #B500FF; }
#lecture_id_54 { background-color: #00FF78; color: black; }
#lecture_id_55 { background-color: #FF6E41; color: black; }
#lecture_id_56 { background-color: #005F39; }
#lecture_id_57 { background-color: #6B6882; }
#lecture_id_58 { background-color: #5FAD4E; color: black; }
#lecture_id_59 { background-color: #A75740; }
#lecture_id_60 { background-color: #A5FFD2; color: black; }
#lecture_id_61 { background-color: #FFB167; color: black; }
#lecture_id_62 { background-color: #009BFF; }
#lecture_id_63 { background-color: #E85EBE; color: black; }
