/** *** Layouts *** **/

header {
    display: grid;
    grid-template-columns: 1fr;  /* 1 header only on small screens */
    border-bottom: 1px solid #cdcdcd;
}

header h1 {
    margin: 0;
}

header h1+h1 {
    display: none;  /* disable link and time on very small devices, will be enabled on bigger screens */
}

main {
    display: grid;
    grid-template-columns: 1fr;  /* 1 column layout on small screens */
}

img {  /* Never stretch the layout because of the impression image. */
    max-width: 100%;
    border-radius: 0.5em;
}

.event a {  /* Make events a grid. */
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto auto;
    margin-top: 0.1em;
}

.timeslot {
    margin: 0.75em 0.15em;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}

/* Bigger small screens have a 2-column schedule */
@media (min-width:600px) {
    header { /* reset width for h1 s in header */
        grid-template-columns: 1fr auto;
    }

    header h1+h1 { /* enable link and time */
        display: block;
    }

    section#schedule { /* 2-column schedule */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Medium screens have a 3-column schedule */
@media (min-width:801px) {
    main { /* show announcements and information side-by-side, impressions and shoutbox as well */
        grid-template-columns: repeat(2, 1fr);
    }

    main section:not(#schedule) {
        margin: 0 0.5em;
        padding: .2em;
    }

    section#schedule {  /* 3-column schedule */
        grid-column-start: 1;
        grid-column-end: 3;

        grid-template-columns: repeat(3, 1fr);
    }
}

/* Big screens have a 5-column schedule, the shoutbox on the right */
@media (min-width:1025px) {
    main {  /* Place impressions next to announcements and information */
        grid-template-columns: repeat(4, 1fr);
    }

    section#schedule {  /* 5-column schedule */
        grid-column-start: 1;
        grid-column-end: 4;

        grid-template-columns: repeat(5, 1fr);
    }

    aside {  /* place shoutbox to the right */
        grid-column: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        margin-left: 0.15em;
    }

    #shoutbox {
        margin-top: .75em;
    }
}


/** *** Styles *** **/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header h1+h1 {
    text-align: right;
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #17a;
}

a:hover {
    text-decoration: underline;
}


/* Schedule children */

.timeslot p:first-child {
    margin: 0;
    padding: 1em;
    background-color: rgb(51, 122, 183);
    color: #fff;
    border-radius: 0.25em;
}

.timeslot.active, .timeslot .active {
    border-radius: 0.5em;
    background-color: #e0f2f7;
}

.timeslot.active p:first-child {
    background-color: #66ACE8;
}


.event a span {
    padding: 0.3em;
}

.event a span.lecture_id {
    border-radius: 0.25em 0.25em 0 0;
    color: #fff;
}

.event a span.location {
    border-radius: 0 0 0.25em 0.25em;
    color: #fff;
}

.event a span.lecturer {
    font-weight: bold;
}


/* Shoutbox */

#shoutbox {
    background: #f5f5f5;
    border-radius: 0.5em;
    padding: 0.5em;
    min-height: 5em;
}

#shoutbox h3 {
    margin: 0.2em;
}

#shoutbox form input {
    width: 99%;
}

#shoutbox_container {
    max-height: 50em;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left:0;
    padding-right:0;
}

.message_box {
    width: 1.5em;
    height: 1.5em;
    float: left;
}

#impressions {
    text-align: center;
}
