/** *** Layouts *** **/

header {
    display: grid;
    border-bottom: 1px solid #cdcdcd;
}

header h1 {
    margin: 0.3em 0.3em 0 0.3em;
}

header h1+h1 {
    display: none;  /* disable link and time on very small devices, will be enabled on bigger screens */
}

#impressions {
    display: none;
}

main {
    display: grid;
    margin: 0.3em;
    grid-gap: 1em;
}

img {  /* Never stretch the layout because of the impression image. */
    max-width: 100%;
    border-radius: 0.5em;
}

#schedule {
    display: grid;
    grid-row-gap: 0.75em;
}

.event a {  /* Make events a grid. */
    display: grid;
    grid-template-columns: 6em auto;
    margin-top: 0.1em;
}

.event input {
    float: right;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

#tools {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#daytoggle {
    display: flex;
    justify-content: center;
}

#daytoggle a, #tools button {
    display: block;
    color: black;
    text-decoration: none;
    margin: 0 0 5px 0;
    padding: 0.2em 1.2em;
    font-size: 9pt;
    border: 1px outset #e0f2f7;
    background-color: #e0f2f7;
    float: left;
    max-height: 1.8em;
    cursor: pointer;
}

#daytoggle a:first-child, #favport button:first-child {
    border-radius: 0.5em 0 0 0.5em;
}

#daytoggle a:last-child, #favport button:last-child {
    border-radius: 0 0.5em 0.5em 0;
}

#favtoggle button {
    border-radius: 0.5em;
}

#tools .disabled {
    border: 1px inset #e0f2f7;
    color: gray;
}

#daytoggle a.active {
    color: rgb(51, 122, 183);
    font-weight: bold;
}


/* Bigger small screens have a 2-column schedule */
@media (min-width:600px) {
    header { /* reset width for h1 s in header */
        grid-template-columns: 1fr auto;
    }

    header h1+h1 { /* enable link and time */
        display: block;
    }

    #schedule { /* 2-column schedule */
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0.15em;
    }

    #tools {
        grid-column-start: 1;
        grid-column-end: 2;
        justify-content: space-between;
    }
}

/* Medium screens have a 3-column schedule */
@media (min-width:801px) {
    main { /* show announcements and information side-by-side, impressions and shoutbox as well */
        grid-template-columns: repeat(2, 1fr);
    }

    aside {
        grid-column: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    aside {
        grid-column: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    #schedule {  /* 3-column schedule */
        grid-column-start: 1;
        grid-column-end: 3;
        grid-template-columns: repeat(3, 1fr);
    }

    #tools {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #daytoggle a:before {
        content: "Day ";
    }
}

/* Big screens have a 3-column schedule, the shoutbox on the right */
@media (min-width:1024px) {
    main {  /* Place impressions next to announcements and information */
        grid-template-columns: repeat(3, 1fr);
    }

    #tools {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    aside {  /* place shoutbox to the right */
        grid-column: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #impressions {
        display: block;
    }
}

/* Big screens have a 5-column schedule, the shoutbox on the right */
@media (min-width:1280px) {
    main {  /* Place impressions next to announcements and information */
        grid-template-columns: repeat(4, 1fr);
    }

    #schedule {  /* 5-column schedule */
        grid-column-start: 1;
        grid-column-end: 4;

        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto 1fr;
    }

    .timeslot {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .timeslot:last-child, .timeslot:nth-last-child(2) {
        grid-row-start: auto;
        grid-row-end: auto;
    }

    aside {  /* place shoutbox to the right */
        grid-column: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}


/** *** Styles *** **/

html {
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 4em;
    min-height: 100%;
}

header h1+h1 {
    text-align: right;
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

h3 {
    margin: 0;
    padding: 1em;
    background-color: rgb(51, 122, 183);
    color: #fff;
    border-radius: 0.25em;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #17a;
}

a:hover {
    text-decoration: underline;
}


/* Schedule children */

#timeslot_active, .event.active {
    border-radius: 0.5em;
    background-color: #e0f2f7;
}

.event a:hover {
    text-decoration: none;
    background: #cfcfcf;
    border-radius: 0.5em;
}

.event a span {
    padding: 0.3em;
}

.event a span.lecture_id {
    border-radius: 0.25em 0.25em 0 0;
    color: #fff;
}

.event a span.location {
    border-radius: 0 0 0.25em 0.25em;
    color: #fff;
}

.event a span.lecturer {
    font-weight: bold;
}

.announcements p {
    padding: 0 0.3em;
}

/* Shoutbox */

#shoutboxform input {
    width: 100%;
}

#shoutbox {
    background-color: #efefef;
    border-radius: 0.5em;
}

#shoutbox_container {
    padding: 0.5em;
    min-height: 5em;
    max-height: 45em;
    overflow-y: auto;
    overflow-x: hidden;
}

#shoutbox_container p {
    margin: 0.5em 0;
}

.message_box {
    width: 1em;
    height: 1em;
    float: left;
    margin-right: 0.4em;
}

#impressions {
    text-align: center;
}
