
body {
  text-align: center;
  background-color: #1d59e1;
}

#wrapper {
  margin: 3em auto;
  padding: 5% 10%;
  background-color: #0073E8;
  color: #ffffff;
  text-align: left;
  max-width: 600px;
  border: 1px solid #ffffff;
}

img {
  width: 100%;
}

form {
  text-align: center;
  margin: 3em 0 1em;
}

a, a:visited {
  color: #ffffff;
  font-weight: bold;
}
